telethon
regex
urbandict
requests
Pillow
hachoir
cryptg
cfscrape
beautifulsoup4
wikipedia
gtts
googletrans
zalgo_text
hastebin.py
pyfiglet
pybase64
google_images_download
rivescript
iso-639==0.4.5
antispam
gsearch
aioify
instantmusic
youtube-dl
pexpect
wget
speedtest-cli>=2.0.2
logger
PIL
